/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/GraphQL.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/GraphQL.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/GraphQLParser.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/GraphQLParser.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Buffers.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Buffers.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.ComponentModel.Annotations.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Memory.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Memory.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Numerics.Vectors.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Numerics.Vectors.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Threading.Tasks.Extensions.dll
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/bin/Debug/System.Threading.Tasks.Extensions.xml
/Users/natwi/OneDrive/Documents/GitHub/NewPicEdit/NewPicEditApp/obj/Debug/NewPicEditApp.csproj.CopyComplete
